:root {
  --main-bg:#363538;
  --secondary-bg:#8D8C8A;
  --eggshell:#f6f6f6;
  --blue-green:#408697;
  --accent-blue:#52d6f4;
}

*{
  margin:0;
  padding:0;
}

/* a{
  color:;
} */

body{
  background-color:var(--main-bg);
}

a{
  text-decoration: none;
  color:var(--accent-blue);
  transition: all 0.5s;
}

a:hover{
color:var(--eggshell);
text-decoration: none;
}

header{
  width:100%;
  height:100vh;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  /* background-image:url(../images/bckgrnd.jpg);
  background-size:cover;
  background-repeat:no-repeat; */
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:4.5rem;
  color:var(--secondary-bg);
  text-shadow:0 1px 3px #fff;
}

h2{
  color:var(--accent-blue);
  padding-top:40px;
  margin:40px 0;
  text-transform: uppercase;
  text-align:center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
}

h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header_container{
  width:60%;
  /* height:auto; */
  margin:0 auto;
  /* background-color:red; */
}

ul{
  list-style-type: none;
  margin:20px 0;
}

li{
  display: inline;
  margin:0 25px;
  text-transform: uppercase
}

li a{
  font-size:1.2rem;
  letter-spacing: 2px;
  margin:0 12px;
}

.fa-github, .fa-linkedin-in{
  padding:10px 4px 10px 6px;
  border-radius:7px;
  transition:all 0.5s;
}

.fa-github{
  color:#fff;
  border:1px solid #fff;
}

.fa-github:hover{
  color:#fff;
  background-color:#000;
  border:none;
}

.fa-linkedin-in{
  color:#fff;
  border:1px solid #fff;
}

.fa-linkedin-in:hover{
  background-color:#0077B5;
  color:#fff;
  border:none;
}

#about p{
  font-size:1.2rem;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing: 1px;
  word-spacing: 10px;
  padding-top:20px;
  color:var(--secondary-bg);
  text-shadow:0 1px 1px #fff;
}

#bounce{
  color:var(--eggshell);
  cursor:pointer;
  position: relative;
  top:50px;
  -webkit-animation-name: bounce;
  -webkit-animation-duration:1s;
  animation-name:bounce;
  animation-duration:1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bounce{
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  50% {transform: translateY(-5px);}
}

/* Code for main */
#portfolio{
  width:100%;
}

#portfolio h2{
  text-align:center;
}
.card{
  margin:10px 0;
  border:1px solid var(--accent-blue);
}
.card-title{
  text-align: center;
}

.view_code a{
  width:100%;
  display: inline-block;
  text-align: center;
  margin:10px 0;
  color:#fff;
  background-color:var(--main-bg);
}

.view_code a:hover{
  background-color:var(--accent-blue);
  color:var(--main-bg);
}

.view_code p{
  margin:0;
  padding:10px 0;
}

/*  Contact */
#contact p{
  color:var(--eggshell);
}

#contact h3{
  text-align:center;
  color:var(--eggshell);
}

form{
  width:70%;
  margin:0 auto;
  margin-bottom:30px;
  padding:20px;
  background-color:var(--secondary-bg);
  border-radius:6px;
}

label{
  display: block;
}

textarea{
  resize:none;
}

#contact #required{
  color:red;
}

#submit{
  padding:8px;
  border-radius:3px;
  transition: 0.4s;
}

#submit:hover{
  background-color:var(--blue-green);
  color:var(--accent-blue);
}

.form-control:focus {
  outline: none;
}
/* Footer */

footer{
  width:100%;
  /* height:30vh; */
  background-color:#000;
}

.footer_container{
  width:60%;
  margin:0 auto;
  padding-top:35px;
  text-align: center;
}

footer .fa-github{
  background-color:#fff;
  color:#000;
}

footer .fa-github:hover{
  border:1px solid #fff;
}

footer .fa-linkedin-in{
  background-color:#0077B5;
  color:#fff;
}

footer .fa-linkedin-in:hover{
  background-color:#fff;
  color:#0077B5;
  border:1px solid #fff;
}

footer p{
  margin:0;
  padding:10px;
  color:#fff;
}


#error p{
  color:#000;
}